.app-form{
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0px rgb(0 0 0 / 7%)

}

.app-search-select{
    width: 100%;
}

.app-datapicker{
    padding-right: 20px;
}

.app-toggle{
    display: flex;
}

.app-label-toggle{
    position: relative;
    top: 6px;
    left: 10px ;
    font-size: 13px;
}
.app-multiselect > div{
    padding: 0px 16px!important;
}

.app-button-report{
    padding-top: 50px;
}

.app-textarea{
    padding-top: 30px;
}